{% extends 'base.html' %}
{% block extra_title %}Home{% endblock %}

{% block content %}

<div class="flex justify-center gap-6 py-40">
    <div class="card">
        <figure class="h-[242px]">
            <img class="w-full h-full object-cover" src="https://source.unsplash.com/random/?burger/1" alt="Random image">
        </figure>
        <div class="py-8 px-6">
            <h2 class="text-gray-700">Lorem ipsum dolor sit amet consectetur adipisicing elit.</h2>
            <ul class="flex justify-between items-center">
                <li class="text-[12px] italic py-4 text-gray-500">
                    <i class="fa-solid fa-user"></i>
                    Emidio Valereto
                </li>
                <li class="text-[12px] italic py-4 text-gray-500">
                    <i class="fa-solid fa-calendar-days"></i>
                    20/03/2024 at 01:03
                </li>
                <li class="text-[12px] italic py-4 text-gray-500">
                    <i class="fa-solid fa-layer-group"></i>
                    Breakfast
                </li>
            </ul>
            <p class="text-sm text-gray-600">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quis delectus nulla eius repellat sint eligendi ipsa deleniti.</p>
        </div>
        <div class="flex justify-evenly mt-2 mb-6">
            <div>
                <div>
                    <i class="fa-solid fa-stopwatch"></i>
                    <span>Preparation</span>
                </div>
                <div>
                    <span>0 Minutes</span>
                </div>
            </div>
            <div>
                <div>
                    <i class="fa-solid fa-pizza-slice"></i>
                    <span>Servings</span>
                </div>
                <div>
                    <span>0 Portions</span>
                </div>
            </div>
        </div>
        <a class="flex justify-center bg-slate-900 text-white py-4" href="">See more...</a>
    </div>
    <div class="card">
        <figure class="h-[242px]">
            <img class="w-full h-full object-cover" src="https://source.unsplash.com/random/?burger/2" alt="Random image">
        </figure>
        <div class="py-8 px-6">
            <h2 class="text-gray-700">Lorem ipsum dolor sit amet consectetur adipisicing elit.</h2>
            <ul class="flex justify-between items-center">
                <li class="text-[12px] italic py-4 text-gray-500">
                    <i class="fa-solid fa-user"></i>
                    Emidio Valereto
                </li>
                <li class="text-[12px] italic py-4 text-gray-500">
                    <i class="fa-solid fa-calendar-days"></i>
                    20/03/2024 at 01:03
                </li>
                <li class="text-[12px] italic py-4 text-gray-500">
                    <i class="fa-solid fa-layer-group"></i>
                    Breakfast
                </li>
            </ul>
            <p class="text-sm text-gray-600">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quis delectus nulla eius repellat sint eligendi ipsa deleniti.</p>
        </div>
        <div class="flex justify-evenly mt-2 mb-6">
            <div>
                <div>
                    <i class="fa-solid fa-stopwatch"></i>
                    <span>Preparation</span>
                </div>
                <div>
                    <span>0 Minutes</span>
                </div>
            </div>
            <div>
                <div>
                    <i class="fa-solid fa-pizza-slice"></i>
                    <span>Servings</span>
                </div>
                <div>
                    <span>0 Portions</span>
                </div>
            </div>
        </div>
        <a class="flex justify-center bg-slate-900 text-white py-4" href="">See more...</a>
    </div>
    <div class="card">
        <figure class="h-[242px]">
            <img class="w-full h-full object-cover" src="https://source.unsplash.com/random/?burger/3" alt="Random image">
        </figure>
        <div class="py-8 px-6">
            <h2 class="text-gray-700">Lorem ipsum dolor sit amet consectetur adipisicing elit.</h2>
            <ul class="flex justify-between items-center">
                <li class="text-[12px] italic py-4 text-gray-500">
                    <i class="fa-solid fa-user"></i>
                    Emidio Valereto
                </li>
                <li class="text-[12px] italic py-4 text-gray-500">
                    <i class="fa-solid fa-calendar-days"></i>
                    20/03/2024 at 01:03
                </li>
                <li class="text-[12px] italic py-4 text-gray-500">
                    <i class="fa-solid fa-layer-group"></i>
                    Breakfast
                </li>
            </ul>
            <p class="text-sm text-gray-600">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quis delectus nulla eius repellat sint eligendi ipsa deleniti.</p>
        </div>
        <div class="flex justify-evenly mt-2 mb-6">
            <div>
                <div>
                    <i class="fa-solid fa-stopwatch"></i>
                    <span>Preparation</span>
                </div>
                <div>
                    <span>0 Minutes</span>
                </div>
            </div>
            <div>
                <div>
                    <i class="fa-solid fa-pizza-slice"></i>
                    <span>Servings</span>
                </div>
                <div>
                    <span>0 Portions</span>
                </div>
            </div>
        </div>
        <a class="flex justify-center bg-slate-900 text-white py-4" href="">See more...</a>
    </div>
</div>

{% endblock %}