{% extends 'base.html' %}
{% block extra_title %}Home{% endblock %}

{% block content %}

<div class="grid lg:grid-cols-3 gap-8 py-8 md:pt-0">
{% if recipes %}
    {% for recipe in recipes %}
    <div class="card">
        <figure class="h-[242px]">
            <img class="w-full h-full object-cover" src="{{ recipe.cover.url }}" alt="{{ recipe.title }}">
        </figure>
        <div class="py-8 px-6">
            <h2 class="text-gray-700">{{ recipe.title }}</h2>
            <ul class="flex justify-between items-center">
                <li class="text-[12px] italic py-4 text-gray-500">
                    <i class="fa-solid fa-user"></i>
                    {{ recipe.author.first_name }} {{ recipe.author.last_name }}
                </li>
                <li class="text-[12px] italic py-4 text-gray-500">
                    <i class="fa-solid fa-calendar-days"></i>
                    {{ recipe.created_at }}
                </li>
                <li class="text-[12px] italic py-4 text-gray-500">
                    <i class="fa-solid fa-layer-group"></i>
                    {{ recipe.category }}
                </li>
            </ul>
            <p class="text-sm text-gray-600">{{ recipe.description }}</p>
        </div>
        <div class="flex justify-evenly text-center mt-2 mb-6">
            <div>
                <div>
                    <i class="fa-solid fa-stopwatch"></i>
                    <span>Preparation</span>
                </div>
                <div>
                    <span>{{ recipe.preparation_time }} {{ recipe.preparation_time_unit }}</span>
                </div>
            </div>
            <div>
                <div>
                    <i class="fa-solid fa-pizza-slice"></i>
                    <span>Servings</span>
                </div>
                <div>
                    <span>{{ recipe.servings }} {{ recipe.servings_unit }}</span>
                </div>
            </div>
        </div>
        <div class="bg-pink-400">
            <a class="flex justify-center bg-slate-900 text-white py-4" href="">See more...</a>
        </div>
    </div>    
    {% endfor %} 
{% endif %}
</div>

{% endblock %}