{% extends 'base.html' %}
{% block extra_title %}{{recipe.title}}{% endblock %}


{% block content %}
<main class="recipe">
    <div class="recipe__container">
      <figure>
        <img class="recipe__cover" src="{{ recipe.cover.url }}" alt="{{ recipe.title }}">
      </figure>
      <div class="recipe__content">
        <h1 class="recipe__title">{{ recipe.title }}</h1>
        <p class="recipe__description">{{ recipe.description }}</p>
        <div class="recipe__preparation-time">
          <h2>Preparation time</h2>
          <ul>
            <li><span>Total: </span>Approximately {{ recipe.preparation_time }} minutes</li>
            <li><span>Preparation: </span>{{ recipe.preparation_time }} minutes</li>
            <li><span>Servings: </span>{{ recipe.servings }} people</li>
          </ul>
        </div>
        <div class="recipe__ingredients">
          <h2>Ingredients</h2>
          <ul> 
            {% for ingredient in ingredients %}
              <li>{{ ingredient }}</li>
            {% endfor %}
          </ul>
        </div>
        <div class="recipe__instructions">
          <h2>Instructions</h2>
          <ol>
            {% for step in steps %}
              <li>{{ step }}</li>
            {% endfor %}
          </ol>
        </div>
        <p>Enjoy...</p>
    </div>
</main>
{% endblock %}