<div class="flex justify-center items-center px-2 pt-4 md:py-10">
    <form action="" class="relative w-[40rem] border border-gray-400 rounded-md focus-within:bg-white">
        <label class="sr-only" for="search">search</label>
        <input class="w-full pr-12 bg-inherit border-none outline-none focus:rounded-md focus:outline-yellow-500 focus:ring-yellow-500" type="text" name="search" id="search" placeholder="Type for searching...">
        <button type="submit" class="absolute top-0 p-2 right-0 text-gray-400 focus:outline-yellow-500"><i class="fa-solid fa-magnifying-glass"></i></button>
    </form>
</div>