<div class="flex justify-center items-center px-2 pt-4 md:py-10">
    <form action="" class="relative w-[40rem] border border-slate-900 rounded-md transition-all ease-in-out delay-150 focus-within:bg-white">
        <label class="sr-only" for="search">search</label>
        <input class="w-full pr-12 bg-inherit border-none outline-none focus:rounded-md focus:outline-pink-700 focus:ring-pink-700" type="text" name="search" id="search" placeholder="Type for searching...">
        <button type="submit" class="absolute top-0 p-2 right-0 focus:outline-pink-700"><i class="fa-solid fa-magnifying-glass"></i></button>
    </form>
</div>