<div class="flex justify-center items-center px-2 pt-4 md:py-10">
    <form action="" class="relative w-[40rem] border border-slate-900 rounded-md focus-within:border-pink-700 focus-within:bg-white">
        <label class="sr-only" for="search">search</label>
        <input class="w-full pr-12 bg-inherit border-none outline-none focus:rounded-md focus:ring-[none]" type="text" name="search" id="search" placeholder="Type for searching...">
        <button type="submit" class="absolute top-1/4 right-2"><i class="fa-solid fa-magnifying-glass"></i></button>
    </form>
</div>