<div class="card">
    <figure class="relative">
      <img class="illustration" src="{{ recipe.cover.url }}" alt="{{ recipe.title }}">
      <a href="{% url 'recipes:category' recipe.category.category_slug %}">
        <figcaption class="badge">{{ recipe.category }}</figcaption>
      </a>
    </figure>
    <div class="flex items-center mb-2">
        <figure>
          <img class="avatar" src="https://github.com/emidiovaleretto.png" alt="Author avatar">
        </figure>
        <h2 class="author">{{ recipe.author.first_name }} {{ recipe.author.last_name }}</h2>
    </div>  
    <p class="published-date">Published at {{ recipe.created_at|date:"d-m-Y" }}</p>
    <div>
        <h1 class="title">{{ recipe.title }}</h1>
    </div>
    <p class="description">{{ recipe.description }}</p>
    <div class="recipe__preparation-time">
        <span>Preparation time</span>
        <ul>
          <li><span>Total: </span>Approximately {{ recipe.preparation_time }} {{ recipe.preparation_time_unit }}</li>
          <li><span>Preparation: </span>{{ recipe.preparation_time }} {{ recipe.preparation_time_unit }}</li>
          <li><span>Cooking: </span>{{ recipe.preparation_time }} {{ recipe.preparation_time_unit }}</li>
        </ul>
        <span>Servings</span>
        <ul>
            <li><span>Servings: </span>{{ recipe.servings }} {{ recipe.servings_unit }}</li>
        </ul>
    </div>
    <a class="button" href="{% url 'recipes:detail' recipe.slug %}">See details</a>
</div>
