<div class="card">
    <figure>
      <img class="illustration" src="{{ recipe.cover.url }}" alt="{{ recipe.title }}">
    </figure>
    <div class="flex items-center mb-2">
        <figure>
          <img class="avatar" src="https://media.licdn.com/dms/image/D4E03AQGfZLa2QKgO_Q/profile-displayphoto-shrink_800_800/0/1705699501597?e=1717027200&v=beta&t=1uYc6IPmViaeH1k1lsmW9oYxt0xkIQSH_cfydmDSzdc" alt="Author avatar">
        </figure>
        <h2 class="author">{{ recipe.author.first_name }} {{ recipe.author.last_name }}</h2>
    </div>  
    <p class="published-date">Published at {{ recipe.created_at|date:"d-m-Y" }}</p>
    <div>
        <h1 class="title">{{ recipe.title }}</h1>
        <span class="badge">{{ recipe.category }}</span>    
    </div>
    <p class="description">{{ recipe.description }}</p>
    <div class="recipe__preparation-time">
        <span>Preparation time</span>
        <ul>
          <li><span>Total: </span>Approximately {{ recipe.preparation_time }} {{ recipe.preparation_time_unit }}</li>
          <li><span>Preparation: </span>{{ recipe.preparation_time }} {{ recipe.preparation_time_unit }}</li>
          <li><span>Cooking: </span>{{ recipe.preparation_time }} {{ recipe.preparation_time_unit }}</li>
        </ul>
        <span>Servings</span>
        <ul>
            <li><span>Servings: </span>{{ recipe.servings }} {{ recipe.servings_unit }}</li>
        </ul>
    </div>
    <a class="flex justify-center rounded-md bg-slate-900 font-semibold text-white py-4" href="">See details</a>
</div>
