@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: sans-serif;
    background-color: #e5e7eb;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Roboto Slab", serif;
}

.main-content {
    @apply max-w-[144rem] mx-auto bg-slate-800 p-12
}

.card {
    @apply flex flex-col justify-between bg-white shadow-xl md:rounded-md overflow-hidden 
           lg:hover:scale-105 lg:hover:transition lg:hover:duration-300 lg:hover:ease-in
}

form:focus-within .fa-magnifying-glass {
    @apply text-pink-700 transition-all ease-in-out delay-150
}